In [2]:
from sklearn.metrics.pairwise import cosine_similarity, cosine_distances

In [3]:
cosine_similarity([[3,1]],[[6,2]])  # 2 square brackets represents the 2d array
#ouput is similar

array([[1.]])

In [8]:
cosine_similarity([[3,0]],[[0,8]])  #different

array([[0.]])

In [9]:
cosine_similarity([[3,1]],[[3,2]])   #almost 1 so similar

array([[0.96476382]])

In [4]:
doc1 = """
iphone sales contributed to 70% of revenue. iphone demand is increasing by 20% yoy. 
the main competitor phone galaxy recorded 5% less growth compared to iphone"
"""

doc2 = """
The upside pressure on volumes for the iPhone 12 series, historical outperformance 
in the July-September time period heading into launch event, and further catalysts in relation
to outperformance for iPhone 13 volumes relative to lowered investor expectations implies a 
very attractive set up for the shares.
"""

doc3 = """
samsung's flagship product galaxy is able to penetrate more into asian markets compared to
iphone. galaxy is redesigned with new look that appeals young demographics. 60% of samsung revenues
are coming from galaxy phone sales
"""

doc4 = """
Samsung Electronics unveils its Galaxy S21 flagship, with modest spec improvements 
and a significantly lower price point. Galaxy S21 price is lower by ~20% (much like the iPhone 12A), 
which highlights Samsung's focus on boosting shipments and regaining market share.
"""

In [7]:
import pandas as pd

df = pd.DataFrame([
        {'iPhone': 3,'galaxy': 1},
        {'iPhone': 2,'galaxy': 0},
        {'iPhone': 1,'galaxy': 3},
        {'iPhone': 1,'galaxy': 2},
    ],
    index=[
        "doc1",
        "doc2",
        "doc3",
        "doc4"
    ])

df  # here we assigning doc 1&2 belongs to same company iPhone & doc 3&4 belongs to same comapny galaxy

      iPhone  galaxy
doc1       3       1
doc2       2       0
doc3       1       3
doc4       1       2

In [9]:
df.loc["doc1":"doc1"]

      iPhone  galaxy
doc1       3       1

In [19]:
r=cosine_similarity(df.loc["doc1":"doc1"],df.loc["doc2":"doc2"])
print(r)                 #these dataframe and codings are wrong ,even concepts are not explained clearly
print(round(float(r)))   #similar

[[0.9486833]]
1

In [21]:
r=cosine_distances(df.loc["doc1":"doc1"],df.loc["doc3":"doc3"])     #different documnets
print(r)
print(round(float(r)))

[[0.4]]
0

In [22]:
r=cosine_similarity(df.loc["doc3":"doc3"],df.loc["doc4":"doc4"])    #similar
print(r)
print(round(float(r)))

[[0.98994949]]
1

In [23]:
r=cosine_distances(df.loc["doc3":"doc3"],df.loc["doc4":"doc4"])    #similar
print(r)
print(round(float(r)))

[[0.01005051]]
0

In [24]:
r=cosine_similarity(df.loc["doc1":"doc1"],df.loc["doc4":"doc4"])    #different
print(r)
print(round(float(r)))

[[0.70710678]]
1

In [25]:
r=cosine_distances(df.loc["doc1":"doc1"],df.loc["doc4":"doc4"])    #different
print(r)
print(round(float(r)))

[[0.29289322]]
0

In [26]:
1-0.70710678         #calculaitng cosine distance

0.29289321999999995